<!DOCTYPE html>
<html lang="en" style = "height: 100%;">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Think Again!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>

<body style = "height: 100%;">

<script type="text/javascript">

function hideAllErrors(){
  $('#loginErrorMsg').hide();
  $('#disabledErrorMsg').hide();
  $('#usernameTakenErrorMsg').hide();
  $('#emailErrorMsg').hide();
  $('#registrationCompleteMsg').hide();
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}


function validate_login(){
  hideAllErrors();
  var csrf_token = $.cookie('csrftoken');
  console.log("Validating login!")

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
    }
});

$.ajax({
    url : "/login/",
    type : "POST",
    data: "username="+ document.getElementById("username").value +"&password=" + document.getElementById("password").value,

    success: function(data){
      if (data['result'] == 'invalid'){
        $('#loginErrorMsg').show();
      }
      else if (data['result'] == 'disabled'){
        $('#disabledErrorMsg').show();
      }
      else if (data['result'] == 'success'){
        window.location.replace("/game/game_menu/");
      }

    }
    
  });
}//end validate login
</script>

<div class="container" style= "position: relative; min-height: 90%;">
<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
	     <img style="max-width:50px; margin-top: -10px;" src="/static/images/thinkagain_logo.png">
	    </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% block navbar %} 
              <li class="active"><a href="/">Home</a></li>
              <li><a href="about">About</a></li>
              <li><a href="contact.html">Contact</a></li>
              {% endblock navbar %}
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-form navbar-right">
                <form id="loginFormNav" method="POST" action="/logout/" novalidate="novalidate">{% csrf_token %}
                    <div class="form-group">
                        <p  style= "margin: 5px 0;"> Logged in as: {{user.username}} </p>
                    </div>
                    
                    <button type="submit" class="btn btn-default" action="/logout/">Sign Out</button>  
                </form>
            </ul>

            {% else %}
            {% block navbar-login %}
            <ul class="navbar-form navbar-right">
                <form id="loginFormNav" method="POST" action="javascript:validate_login()" novalidate="novalidate">{% csrf_token %}
                <div class="form-group">
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id ="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Sign In</button>  
                </form>
            </ul>
            {% endblock navbar-login %}
            {% endif %}

          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>





<div id="content" >
{% block content %} 

{% endblock content %}
</div>

</div>

<footer class = "footer" style = "position: relative; bottom: 0; width: 100%;height: 60px; ">
  
        <div class = "container" style = "padding-right: 15px; padding-left: 15px;">
        <p style= "margin: 20px 0;">University of Massachusetts at Dartmouth &middot; <a href="http://www.umassd.edu">Website</a> &middot; <a href="#">Terms</a></p>
        </div>
  
</footer>

<body>
</html>
