<!DOCTYPE html>
<html>
<head>
<title>Think Again!</title>
<script type="text/javascript" src="https://l2.io/ip.js?var=myip"></script>
</head>
 
<body onload="init()">
<div>
<h1>Think Again problem selector</h1>
</div>
<p>
Welcome to Think Again! 
</p>

<p>
Notes for Prof. Khatib's Gamification class:
<br>
<br>1) Please note that the SAVE function in the game does not work. It is only a placeholder. 
<br>2) You have to play each level in a single session. If you need to leave the computer for a short time use the pause function.
<br>2) You may play all the levels from the drop down menu as many times as you like but 
<font color="red">play the level called "3-Beginner" atleast 3 times.</font> This is for data collection.
<br>3) If you find any bugs or have questions and comments send an email to vshekar@umassd.edu
<br>4) The game is currently being tested only on Google Chrome. There may be issues in Internet Explorer and Firefox

</p>


Select a Level:
<select id="selectMenu">
</select> <br/><br/>
Select Style :
<select id="language">
</select>
<p></p> 
<a href="/game/"><button type="submit" onclick="run_game()">Play game</button>

 
<script type="text/javascript" language="JavaScript"><!--
var problem_list;
var data;
diff_languages = ["Numbers", "English", "Hindi", "Bengali", "Telegu", "Kannada", "Tamil", "Greek", "Symbols"];

//getting users IP and storing it
sessionStorage.setItem("ipaddress",myip);

function init() {
problem_list = httpGet("/cgi-bin/get_problem_files.py/");
//document.getElementById("p1").innerHTML = text;
console.log(problem_list);
populate_dropdown();
}


function populate_dropdown(){
data = JSON.parse(problem_list);
var keys = [];
	for(var k in data){
	    if(data.hasOwnProperty(k)){
		keys.push(k);
	    }
	}

	keys.sort();

	var list = document.getElementById('selectMenu')
	for (k in keys){
	    console.log(keys[k]);
	    //if (data.hasOwnProperty(k)){
		    list.innerHTML += '<option value="'+keys[k]+'">'+keys[k]+'</option>' 
	    //}
		
	    
	}
//for the language dropdown
	var language_dropdown = document.getElementById("language");
	for(var x = 0;x<diff_languages.length;x++) {
	language_dropdown.innerHTML += '<option value="'+[x]+'">'+diff_languages[x]+'</option>'
	}

}

function run_game(){
    var list = document.getElementById('selectMenu');
    sessionStorage.setItem("filename",data[list.value]);
    //alert(data[list.value]);
    sessionStorage.setItem("username", '{{ user.username }}');
    sessionStorage.setItem("language",document.getElementById('language').value);
    sessionStorage.removeItem("saveData");
}


function httpGet(theUrl)
{
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
//--></script>


 
</body>
 

</html>
