<!DOCTYPE html>
<html>
<head>
<title>Think Again!</title>
</head>
 
<body onload="init()">
<div>
<h1>Think Again problem selector</h1>
</div>
<p>
Welcome to Think Again! 
</p>

<p>

</p>

<select id="selectMenu">
</select>
<p></p>
<a href="/game/"><button type="submit" onclick="run_game()">Play game</button>

 
<script type="text/javascript" language="JavaScript"><!--
var problem_list;
var data;
function init() {
problem_list = httpGet("/cgi-bin/get_problem_files.py/");
//document.getElementById("p1").innerHTML = text;
console.log(problem_list);
populate_dropdown();
}


function populate_dropdown(){
data = JSON.parse(problem_list);
var keys = [];
for(var k in data){
    if(data.hasOwnProperty(k)){
        keys.push(k);
    }
}

keys.sort();


var list = document.getElementById('selectMenu')
for (k in keys){
    console.log(keys[k]);
    //if (data.hasOwnProperty(k)){
            list.innerHTML += '<option value="'+keys[k]+'">'+keys[k]+'</option>' 
    //}
        
    
}
}

function run_game(){
    var list = document.getElementById('selectMenu');
    
    sessionStorage.setItem("filename",data[list.value]);
    sessionStorage.setItem("username", '{{ user.username }}');
}


function httpGet(theUrl)
{
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
//--></script>


 
</body>
 

</html>